<div class="mt-4">
  <form method="POST" action="/course/store">
  <div class="form-group">
    <label for="exampleInputEmail1">Tên khóa học</label>
    <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Mô tả khóa học</label>
    <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">video id</label>
    <input name="videoId" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">level</label>
    <input name="level" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Thêm khóa học</button>
</form>
</div>