<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary">Học ngay</button>
    </div>
    <div class="col-sm-8">
        <h1>{{course.name}}</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MV1xL_4K8Fk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>{{course.description}}</p>
    </div>
  </div>
</div>