<div class="people_list container">
<h1>Example App: Home</h1>
<a href="/news"> chuyển qua trang news</a>
    <div class="row">
        {{#each courses}}
            <div class=" col-3">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <a href="course/{{this.slug}}" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
